body {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/177/545/original/world_clock_image_3.jpg?1769018913");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
}

h2 {
  margin: 0 0 5px;
  line-height: 28px;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
}

a {
  color: orangered;
  font-weight: bold;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}

footer {
  text-align: center;
  font-size: 18px;
  color: white;
}
